{% extends 'base.html' %}
<!-- open conversation with specific person by unique id number -->

{% block head %} {% endblock %}

{% block body %}
<div class="container">
	<div class="row">
	  <div class="col-3"></div>
	  <div class="col-6">
		<h2> About Us </h2>
		<h4>
			Some people say that success does not come from hard work, skill, or talent, but from the relationships you establish. Well here at Kinetic, we have taken all of that into consideration by creating a tool that is effortless for college students to take the next step in their careers and start networking. It can be a struggle for students to connect with professionals or even stand out to companies when they are fresh out of college. We understand this dilemma, which is why we take pride in our ability to create this social platform and open the doors to the careers that undergraduates aspire to be in.
		</h4>
		<h4>
			Here at Kinetic, we work diligently to make sure that our user's privacy and personal information are being protected and regarded at all times. There have been instances in the past like Facebook's Cambridge Analytica data scandal, in which personal data was being collected from millions of users without any consent. Security & Privacy is our #1 priority here at Kinetic. We comply with the ethical components of attentiveness, responsibility, competence, and responsiveness. We recognize the misuse of personal data and we are countering that by giving people access to a safe networking app that is secured by some of the top security specialists in the world. 
		</h4>
		<h4>
			The mission of Kinetic is simple: pave the way to success for college students by connecting them to world professionals.
		</h4>
	  </div>
	  <div class="col-3"></div>
	</div>
</div>

{% endblock %}