{% extends 'base.html' %}
<!-- open conversation with specific person by unique id number -->

{% block head %} {% endblock %}

{% block body %}
<h1>
    {% set temp = True %}
    {%if temp == True%}
    1 the test worked
    {%else%}
    0
    {%endif%}
</h1>

{% endblock %}
<div class="container">
    <div class="row">
      <div class="col-3"></div>
      <div class="col-5">
        
        </table>

      </div>
    </div>
</div>

<a href="/test">
    <button type="button" class="btn btn-secondary">Test</button>
  </a>

